[submodule "appdimens-dynamic"]
    path = appdimens-dynamic
    url = https://github.com/bodenberg/appdimens-dynamic

[submodule "appdimens-dynamic-kmp"]
    path = appdimens-dynamic-kmp
    url = https://github.com/bodenberg/appdimens-dynamic-kmp

[submodule "appdimens-sdps"]
    path = appdimens-sdps
    url = https://github.com/bodenberg/appdimens-sdps

[submodule "appdimens-ssps"]
    path = appdimens-ssps
    url = https://github.com/bodenberg/appdimens-ssps

[submodule "appdimens-games"]
    path = appdimens-games
    url = https://github.com/bodenberg/appdimens-games

[submodule "appdimens-flutter"]
    path = appdimens-flutter
    url = https://github.com/bodenberg/appdimens-flutter

[submodule "appdimens-ios"]
    path = appdimens-ios
    url = https://github.com/bodenberg/appdimens-ios

[submodule "appdimens-react-native"]
    path = appdimens-react-native
    url = https://github.com/bodenberg/appdimens-react-native

[submodule "appdimens-web"]
    path = appdimens-web
    url = https://github.com/bodenberg/appdimens-web
