*.iml
.gradle
/Android/.gradle
/local.properties
/Android/local.properties
/Android/.idea
/Android/settings.xml
/.build
/iOS/.build
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/Android/build
/captures
.externalNativeBuild
.cxx
local.properties
settings.xml
